@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.direction-rtl {
  direction: rtl;
}

/* mapbox customizations */
.mapboxgl-ctrl-logo,
.mapboxgl-ctrl {
  display: none !important;
}
.mapboxgl-popup-content {
  background-color: #292d31 !important;
  padding: 15px !important;
}
.mapboxgl-popup-close-button {
  right: 10px !important;
}

.nextImage > div {
  border: 1px solid rgba(83, 83, 83, 0.8) !important;
  border-radius: 5px;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* background-color: #292d31; */
  font-family: "Noto Serif", serif;
  /* background: linear-gradient(to top right, #040404 0%, #292d31 100%); */
  /* font-family: "Inter", sans-serif; */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.bg-gradient {
  background: linear-gradient(to top right, #040404 0%, #292d31 100%);
}

.text-stroke {
  -webkit-text-stroke: 2px white;
}
